body {
   overflow-x: hidden;
  display: block;
  min-width: 768px;
  max-width: 1280px;
  margin: 0%;
  padding: 0%;
}
*{
  font-family: 'Raleway 400', sans-serif;
}

body > main:nth-child(2) > section:nth-child(1) {
  margin-left: 29px;
  width: 1280px;
}

body > main:nth-child(2) > section:nth-child(2) {
  width: 1480px;
  margin-left: 0%;
}

body > main:nth-child(2) {
  width: 1280px;
}

body
  > main:nth-child(2)
  > section:nth-child(1)
  > article:nth-child(1) {
  margin-left: 0px;
  margin-right: 30px;
}

body
  > main:nth-child(2)
  > section:nth-child(1)
  > article:nth-child(2) {
  margin-right: 20px;
  margin-left: 0px;
}

body
  > main:nth-child(2)
  > section:nth-child(2)
  > h2:nth-child(1) {
  display: flex;
  height: 60px;
  width: 408px;
  margin-top: 25px;
  margin-left: 29px;
  margin-bottom: 0px;
  margin-right: -350px;
}

body
  > main:nth-child(2)
  > section:nth-child(1)
  > article:nth-child(2)
  > h2:nth-child(1) {
  margin-left: 30px;
}

#comtainer {
  display: flex;
  flex-direction: column;
}

html {
  min-width: 1480px;
}

header {
  width: auto;
  min-width: 1280px;
  height: auto;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  flex-wrap: wrap;
}

/* header */

.p1 {
  display: flex;
  width: 1480px;
  height: 200px;
  flex-wrap: wrap;
}

.p1 > h1:nth-child(2) > img:nth-child(1) {
  margin-left: 10px;
}
.p1 > h1:nth-child(2) {
  margin-left: 50px;
  margin-top: 10px;
}

.p1 > div:nth-child(5) {
  margin-top: 0px;
  margin-bottom: 0px;

  margin-right: 0px;
  margin-bottom: 0px;
}

.p1 > nav:nth-child(2) {
  margin-left: 890px;
  width: 330px;
  text-decoration: none;
}

.p1 > nav:nth-child(4) {
  margin-right: 500px;
  margin-top: 20px;
}

h1 {
  height: 60px;
  margin-bottom: 0px;
  margin-top: 0px;
  display: flex;
}
.logo {
  height: 75px;
  margin-left: 30px;
  margin-top: 15px;
}

#nav {
  margin-top: 0px;
  margin-left: 165%;
  margin-bottom: 0%;
  font-size: 20px;
  display: flex;
  list-style-type: none;
}
/*float: inline-start;*/

.p1 > nav:nth-child(2) > div:nth-child(1) {
  float: inline-end;
  display: flex;
  height: 50px;
  width: 270px;
}

.p1 > div:nth-child(3) {
  height: 150px;
  margin-top: 30px;
  margin-left: -43px;
}

.nav-hebergement {
  font-size: 20px;
  color: #0065fc;
  margin-left: 0px;
  line-height: 60px;
  margin-top: 0px;
}
.p1 > nav:nth-child(2) > div:nth-child(1) > a:nth-child(1) {
  text-decoration: none;
}

.nav-hebergement:hover {
  border-top: 3px solid #0065fc;
}

.nav-activite {
  font-size: 20px;
  color: #0065fc;
  margin-left: 30px;
  line-height: 60px;
  margin-top: 0px;
}

.p1 > nav:nth-child(2) > div:nth-child(1) > a:nth-child(2) {
  text-decoration: none;
}

.nav-activite:hover {
  border-top: 3px solid #0065fc;
}

.inscription {
  font-size: 20px;
  color: #0065fc;
  margin-left: 30px;
  line-height: 60px;
  margin-top: 0px;
}

.p1 > nav:nth-child(2) > div:nth-child(1) > a:nth-child(3) {
  text-decoration: none;
}

.inscription:hover {
  border-top: 3px solid #0065fc;
}

.texte {
  margin-left: 76px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 25px;
  height: 50px;
}

.recherche {
  align-items: center;
  margin-top: -7px;
  margin-left: 7px;
  padding-bottom: 15px;
  display: flex;
  height: 50px;
}

button.position {
  border-radius: 15px 0px 0px 15px;
  height: 40px;
}

button.rech {
  background: #0065fc;
  margin: 0;
  color: white;
  font-size: 20px;
  border-radius: 0px 15px 15px 0px;
  height: 40px;
}

button:hover {
  background-color: #deebff;
  color: black;
}
.icone-loupe {
  display: none;
}

.position > img:nth-child(1) {
  height: 20px;
}

input {
  height: 40px;
}

button {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  flex-wrap: wrap;
  align-content: center;
}

.filtres {
  margin-top: 20px;
  position: inherit;
  font-size: 20px;
}
#img > ul:nth-child(1) > li:nth-child(1) {
  border: none;
}

.cercle {
  position: static;
  margin: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #deebff;
}

ul {
  margin-right: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#img,
ul li {
  list-style-type: none;
  justify-content: center;
  border: 3px solid #f2f2f2;
  margin: 0 10px 10px;
  border-radius: 30px;
}

#img,
ul li:hover {
  transform: scale(1.1);
}
div #img {
  border: none;
}
#img {
  width: 920px;
  height: 50px;
  align-items: center;
}
#img > ul:nth-child(1) {
  margin-right: -20px;
  padding-left: 0px;
  margin-left: 40px;
}

#img > ul:nth-child(1) > li:nth-child(2) {
  width: 180px;
}

#img > ul:nth-child(1) > li:nth-child(4) {
  width: 180px;
}

#img > ul:nth-child(1) > li:nth-child(3) {
  width: 180px;
}

#img > ul:nth-child(1) > li:nth-child(5) {
  width: 180px;
}

#img
  > ul:nth-child(1)
  > li:nth-child(2)
  > img:nth-child(1) {
  padding-left: 0px;
  margin-right: 17px;
  padding-right: 0px;
  margin-left: -43px;
}

#img > ul:nth-child(1) > li:nth-child(1) {
  margin-right: 10px;
  margin-left: 22px;
}

#img
  > ul:nth-child(1)
  > li:nth-child(2)
  > img:nth-child(2) {
  margin-left: -34px;
}
#img > ul:nth-child(1) > li:nth-child(2) > p:nth-child(3) {
  margin-left: 29px;
  margin-right: 27px;
}

#img
  > ul:nth-child(1)
  > li:nth-child(3)
  > img:nth-child(1) {
  margin-left: -64px;
  margin-right: 26px;
}

#img
  > ul:nth-child(1)
  > li:nth-child(3)
  > img:nth-child(2) {
  margin-left: -33px;
  height: 16px;
}

#img > ul:nth-child(1) > li:nth-child(3) > p:nth-child(3) {
  margin-left: 40px;
  margin-right: 49px;
}

#img
  > ul:nth-child(1)
  > li:nth-child(4)
  > img:nth-child(1) {
  margin-left: -43px;
  margin-right: 20px;
}

#img
  > ul:nth-child(1)
  > li:nth-child(4)
  > img:nth-child(2) {
  margin-left: -34px;
  height: 16px;
}

#img > ul:nth-child(1) > li:nth-child(4) > p:nth-child(3) {
  margin-left: 30px;
  margin-right: 28px;
}

#img > ul:nth-child(1) > li:nth-child(5) {
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 0px;
  padding-right: 0px;
  height: 50px;
  width: 200px;
}

#img
  > ul:nth-child(1)
  > li:nth-child(5)
  > img:nth-child(1) {
  margin-left: -12px;
  margin-right: 9px;
}

#img
  > ul:nth-child(1)
  > li:nth-child(5)
  > img:nth-child(2) {
  margin-left: -34px;
}
#img > ul:nth-child(1) > li:nth-child(5) > p:nth-child(3) {
  height: 12px;
  margin-left: 21px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 12px;
  padding-left: 0px;
  padding-right: 0px;
  width: 140px;
}

ul li img {
  display: flex;
  flex-wrap: nowrap;
  width: 20px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  top: 2px;
  left: 1px;
  border-radius: inherit;
}

ul li {
  font-family: 'Raleway 400', sans-serif;
  display: flex;
  align-items: center;
  align-content: center;
}

.info {
  margin-left: 30px;
  height: 75px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
}

p.logo-info {
  margin-left: 10px;
  padding-left: 0px;
}
.info > p:nth-child(2) {
  margin-left: 9px;
}

.info img {
  height: 18px;
}

/* main */

main {
  width: 1585px;
  height: auto;
}

/*SECTION*/

section {
  display: flex;
  width: auto;
  height: auto;
}

/* BLOC ARTICLE */

article {
  margin: 20px;
  background: #f2f2f2;
  border-radius: 15px;
  width: 800px;
  height: 670px;
}

.h2-article {
  height: 564px;
  width: 879px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 13px;
  margin-right: 10px;
  margin-top: 60px;
  padding-top: 0px;
  color: black;
}
.h2-article > strong:nth-child(1) {
  height: 30px;
  margin-top: -20px;
}

#section-aside > h2:nth-child(1) > img:nth-child(1) {
  margin-left: 201px;
  height: 20px;
  width: 20px;
}

#bloc-article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  margin-right: 90px;
  margin-top: 20px;
  margin-left: 0px;
  width: 750px;
  height: 600px;
}
.bloc-hotel-article {
  display: flex;
  width: 769px;
  height: 800px;
  flex-wrap: wrap;
  margin-left: -4px;
}

/* AUBERGE LA CANNEBIERE*/

.auberge-cannebiere {
  margin: 35px 0px 0px 30px;
  width: 220px;
  height: 210px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px gray;
  background: white;
}

.auberge-cannebiere:hover {
  transform: scale(1.1);
}

.cannebiere {
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 15px;
}

.p-auberge-cannebiere {
  margin-left: 5px;
  font-size: 15px;
  text-align: left;
  font-family: 'Raleway 400', sans-serif;
}

.p-nuit-cannebiere {
  margin-left: 5px;
  font-size: 12px;
  text-align: left;
  font-family: 'Raleway+Dots', sans-serif;
  line-height: 1px;
}

/* HOTEL DU PORT*/

.hotel-port {
  margin: 35px 0px 0px 30px;
  width: 220px;
  height: 210px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px gray;
  background: white;
}
.hotel-port:hover {
  transform: scale(1.1);
}

.du-port {
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 15px;
}

.p-hotel-port {
  margin-left: 5px;
  font-size: 15px;
  text-align: left;
  font-family: 'Raleway 400', sans-serif;
}

.p-nuit-port {
  margin-left: 5px;
  font-size: 12px;
  text-align: left;
  font-family: 'Raleway+Dots', sans-serif;
  line-height: 1px;
}

/* HOTEL LES MOUETTES*/

.hotel-mouettes {
  margin: 35px 0px 0px 30px;
  width: 220px;
  height: 210px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px gray;
  background: white;
}

.hotel-mouettes:hover {
  transform: scale(1.1);
}

.les-mouettes {
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 15px;
}

.p-les-mouettes {
  margin-left: 5px;
  font-size: 15px;
  text-align: left;
  font-family: 'Raleway 400', sans-serif;
}

.p-nuit-mouettes {
  margin-left: 5px;
  font-size: 12px;
  text-align: left;
  font-family: 'Raleway+Dots', sans-serif;
  line-height: 1px;
}

/* HOTEL DE LA MER*/

.hotel-mer {
  margin: 0px 0px 0px 30px;
  width: 220px;
  height: 210px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px gray;
  background: white;
}
.hotel-mer:hover {
  transform: scale(1.1);
}

.la-mer {
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 15px;
}

.p-la-mer {
  margin-left: 5px;
  font-size: 15px;
  text-align: left;
  font-family: 'Raleway 400', sans-serif;
}

.p-nuit-mer {
  margin-left: 5px;
  font-size: 12px;
  text-align: left;
  font-family: 'Raleway+Dots', sans-serif;
  line-height: 1px;
}

/* AUBERGE LE PANIER*/

.auberge-panier {
  margin: 0px 0px 0px 30px;
  width: 220px;
  height: 210px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px gray;
  background: white;
}
.auberge-panier:hover {
  transform: scale(1.1);
}

.h-panier {
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 15px;
}

.p-auberge-panier {
  margin-left: 5px;
  font-size: 15px;
  text-align: left;
  font-family: 'Raleway 400', sans-serif;
}

.p-nuit-panier {
  margin-left: 5px;
  font-size: 12px;
  text-align: left;
  font-family: 'Raleway+Dots', sans-serif;
  line-height: 1px;
}

/* HOTEL CHEZ AMINA*/

.hotel-amina {
  margin: 0px 0px 0px 30px;
  width: 220px;
  height: 210px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px gray;
  background: white;
}
.hotel-amina:hover {
  transform: scale(1.1);
}

.h-amina {
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 15px;
}
.p-amina {
  margin-left: 5px;
  font-size: 15px;
  text-align: left;
  font-family: 'Raleway 400', sans-serif;
}

.p-nuit-amina {
  margin-left: 5px;
  font-size: 12px;
  text-align: left;
  font-family: 'Raleway+Dots', sans-serif;
  line-height: 1px;
}
/* AFFICHER PLUS*/

.afficher-plus {
  margin-left: 15px;
  font-size: 15px;
}
/* ASIDE*/

#section-aside {
  width: 500px;
  margin: 20px;
  margin-left: 90px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  height: 670px;
  background: #f2f2f2;
}

#section-aside > h2:nth-child(1) {
  margin-left: 49px;
}

.h2-aside {
  margin-left: 15px;
  padding-top: 15px;
  color: black;
}
.h2-article > strong:nth-child(1) {
  font-size: 25px;
}

.bloc-aside {
  margin-left: -30px;
  margin-top: -19px;
  width: 570px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}

body
  > main:nth-child(2)
  > aside:nth-child(2)
  > section:nth-child(1) {
  width: 600px;
}

/* HOTEL LE SOLEIL DU MATIN */

.hotel-du-matin {
  margin-top: 10px;
  margin-left: 90px;
  display: flex;
  align-content: center;
  width: 370px;
  height: 180px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px gray;
  background-color: white;
}
.hotel-du-matin:hover {
  transform: scale(1.1);
}

.hotel-matin {
  margin: auto;
  margin-left: 6px;
  margin-top: 6px;
  border-radius: 15px 0px 0px 15px;
  align-items: flex-start;
}

.div-p-du-matin {
  margin-top: 5px;
  width: 180px;
  height: 170px;
}

.p-h-matin {
  font-size: 17px;
  margin-left: 20px;
  height: 30px;
  font-family: 'Raleway 200', sans-serif;
  display: flex;
  flex-wrap: wrap;
}

.p-nuit-h-matin {
  text-align-last: center;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 13px;
  font-family: 'Raleway+Dots', sans-serif;
  display: flex;
  flex-wrap: wrap;
}

/* AU COEUR DE L'EAU CHAMBRE D'HOTEL*/

.chambre-hotes-coeur-de-eau {
  margin-top: 10px;
  margin-left: 90px;
  display: flex;
  align-content: center;
  width: 370px;
  height: 180px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px gray;
  background-color: white;
}
.chambre-hotes-coeur-de-eau:hover {
  transform: scale(1.1);
}

.hotel-coeur-de-eau {
  margin: auto;
  margin-left: 6px;
  margin-top: 6px;
  border-radius: 15px 0px 0px 15px;
  align-items: flex-start;
}

.div-p-coeur-eau {
  margin-top: 5px;
  width: 180px;
  height: 170px;
}
.p-coeur-eau {
  font-size: 17px;
  margin-left: 20px;
  height: 30px;
  font-family: 'Raleway 200', sans-serif;
  display: flex;
  flex-wrap: wrap;
}
.p-nuit-coeur-eau {
  text-align-last: center;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 13px;
  font-family: 'Raleway+Dots', sans-serif;
  display: flex;
  flex-wrap: wrap;
}

/* HOTEL TOUT BLEU ET BLANC*/

.hotel-tout-bleu-blanc {
  margin-top: 10px;
  margin-left: 90px;
  display: flex;
  align-content: center;
  width: 370px;
  height: 180px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px gray;
  background-color: white;
}

.hotel-tout-bleu-blanc:hover {
  transform: scale(1.1);
}

.hotel-bleu-blanc {
  margin: auto;
  margin-left: 6px;
  margin-top: 6px;
  border-radius: 15px 0px 0px 15px;
  align-items: flex-start;
}
.div-p-bleu-blanc {
  margin-top: 5px;
  width: 180px;
  height: 170px;
}

.p-h-bleu-blanc {
  font-size: 17px;
  margin-left: 20px;
  height: 30px;
  font-family: 'Raleway 400', sans-serif;
  display: flex;
  flex-wrap: wrap;
}

.p-nuit-h-bleu-blanc {
  text-align-last: center;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 13px;
  font-family: 'Raleway+Dots', sans-serif;
  display: flex;
  flex-wrap: wrap;
}
/*etoile notation*/

.rating {
  margin-left: 10px;
}

.rating a {
  color: #0065fc;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.4s;
}
.rating a:hover,
.rating a:focus {
  color: #9dbceb;
  cursor: pointer;
}

/*etoile aside notation*/

.rating-aside {
  margin-left: 10px;
  padding-top: 30px;
}

.rating-aside a {
  color: #0065fc;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.4s;
}
.rating-aside a:hover,
.rating-aside a:focus {
  color: #9dbceb;
  cursor: pointer;
}

/* ACTIVITES A MARSEILLE*/

body > main:nth-child(2) > section:nth-child(2) {
  justify-content: center;
  margin-left: 0%;
}

.titre-activites > section:nth-child(1) {
  width: 1280px;
}

div#activites {
  height: 30px;
  margin-top: 100px;
  margin-left: 0px;
}

.bloc-activites {
  width: 1400px;
  margin-top: 100px;
  height: auto;
  display: flex;
}
/* TITRE*/

.titre-activites {
  margin-left: 31px;
  margin-top: 40px;
  width: 1280px;
}

/* VIEUX-PORT*/

.div-vieux-port {
  margin: 60px 30px 30px 80px;
}

.div-vieux-port:hover {
  transform: scale(1.1);
}

.vieux-port {
  border-radius: 15px;
  box-shadow: 3px 3px 3px gray;
}

.p-vieux-port {
  font-size: 12px;
  font-family: raleway, sans-serif;
  text-align: left;
}

/* BLOC IMAGE 1 pomegues-frioul*/

.bloc-image-1 {
  height: 500px;
  margin: 30px 30px 30px 80px;
}

/*FORT-DE-POMEGUES*/

.div-fort-de-pomegues {
  height: 290px;
}
.div-fort-de-pomegues:hover {
  transform: scale(1.1);
}

.fort-de-pomegues {
  border-radius: 15px;
  box-shadow: 3px 3px 3px gray;
  margin: auto;
}
.p-fort-de-pomegues {
  font-size: 12px;
  font-family: raleway, sans serif;
}

/*ILES DU FRIOUL*/

.div-iles-du-frioul {
  margin-top: -50px;
  height: 250px;
}

.div-iles-du-frioul:hover {
  transform: scale(1.1);
}

.iles-du-frioul {
  border-radius: 15px;
  box-shadow: 3px 3px 3px gray;
}

.p-iles-du-frioul {
  font-size: 12px;
  font-family: raleway, sans serif;
}

/* PARC NATIONAL DES CALANQUES*/

.div-parc-national-des-calanques {
  margin: 60px 30px 30px 80px;
  height: 400px;
}

.div-parc-national-des-calanques:hover {
  transform: scale(1.1);
}

.parc-national-des-calanques {
  border-radius: 15px;
  box-shadow: 3px 3px 3px gray;
}

.p-parc-national-des-calanques {
  font-size: 12px;
  font-family: raleway, sans serif;
}

/* BLOC IMAGE 2 notre dame de la garde - parc longchamp*/

.bloc-image-2 {
  height: 500px;
  margin: 30px 30px 30px 80px;
}

/*NOTRE DAME DE LA GARDE*/

.div-notre-dame-de-la-garde {
  height: 280px;
}

.div-notre-dame-de-la-garde:hover {
  transform: scale(1.1);
}

.notre-dame-de-la-garde {
  border-radius: 15px;
  box-shadow: 3px 3px 3px gray;
}

.p-notre-dame-de-la-garde {
  font-size: 12px;
  font-family: raleway, sans serif;
}

/*PARC LONGCHAMP*/

.div-parc-longchamp {
  margin-top: -25px;
}

.div-parc-longchamp:hover {
  transform: scale(1.1);
}

.parc-Longchamp {
  border-radius: 15px;
  box-shadow: 3px 3px 3px gray;
}

.p-parc-longchamp {
  font-size: 12px;
  font-family: raleway !important;
}

footer {
  background: #f2f2f2;
  width: 1480px;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

body > footer:nth-child(3) {
  margin-left: -125px;
 width: 1631px;
}


h4 {
  width: 130px;
  flex-wrap: nowrap;
}
.titre-vide {
  display: none;
}
