@media screen and (max-width: 375px) {
  html {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }
  body {
    display: flex;
    flex-direction: column;
    width: 375px;
  }

  header {
    width: 375px;
    height: auto;
  }

  body > main:nth-child(2) {
    width: 375px;
  }

  body > main:nth-child(2) > section:nth-child(2) {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  body
    > main:nth-child(2)
    > section:nth-child(2)
    > h2:nth-child(1) {
    margin-top: 1700px;
  }

  body > main:nth-child(2) > section:nth-child(1) {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  body
    > main:nth-child(2)
    > section:nth-child(1)
    > article:nth-child(1) {
    background: none;
    width: 375px;
    height: 1600px;
    margin-top: 900px;
    margin-bottom: 0px;
  }
  body
    > main:nth-child(2)
    > section:nth-child(1)
    > article:nth-child(2) {
    margin-top: 0px;
  }

  body
    > main:nth-child(2)
    > section:nth-child(1)
    > article:nth-child(2)
    > h2:nth-child(1) {
    margin-top: 664px;
  }

  body
    > main:nth-child(2)
    > section:nth-child(1)
    > aside:nth-child(2)
    > section:nth-child(1) {
    width: 375px;
    margin-top: -2050px;
  }

  body
    > main:nth-child(2)
    > section:nth-child(1)
    > aside:nth-child(2)
    > section:nth-child(1) {
    margin-top: -2400px;
  }

  body
    > main:nth-child(2)
    > section:nth-child(1)
    > aside:nth-child(2) {
    width: 375px;
  }

  body
    > main:nth-child(2)
    > section:nth-child(1)
    > aside:nth-child(2)
    > section:nth-child(1) {
    margin-top: -1424px;
    margin-bottom: 0px;
  }

  #container {
    width: 375px;
    height: auto;
  }

  .p1 {
    width: 375px;
    display: flex;
    flex-wrap: wrap;
  }
  .p1 > h1:nth-child(2) > img:nth-child(1) {
    width: 80px;
    height: 38px;
    margin-top: 10px;
  }

  .div-nav {
    background: red;
  }

  .p1 > nav:nth-child(2) {
    margin-left: 0px;
    width: 375px;
  }

  .p1 > div:nth-child(3) {
    margin-left: 0px;
    width: 358px;
  }

  .p1 > nav:nth-child(4) {
    margin-top: 40px;
  }

  .p1 > div:nth-child(5) {
    height: 91px;
    width: 375px;
    margin-top: 21px;
    padding-top: 0px;
    margin-bottom: -30px;
  }

  h1 {
    margin-top: 15px;
    margin-left: 15px;
    width: 180px;
    height: 35px;
  }

  .h2-aside {
    margin-left: 0px;
    width: 375px;
  }

  .h2-aside > strong:nth-child(1) {
    margin-right: 0px;
    margin-left: 20px;
  }

  nav {
    border-bottom: #f2f2f2 3px solid;
  }

  /* MENU NAVIGATION HEADER*/

  .nav-hebergement {
    text-align-last: center;
    width: 200px;
    height: 60px;
    margin-right: 0px;
    font-size: 20px;
    margin-bottom: 21px;
    color: black;
    border-bottom: gray;
    margin-left: -119px;
    line-height: 60px;
    margin-top: -10px;
  }
  .nav-hebergement:hover {
    border-top: none;
    border-bottom: 3px solid #0065fc;
    color: #0065fc;
  }

  .bloc-activites {
    margin-left: 1px;
    margin-top: -125px;
  }

  #activites {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .titre-activites {
    width: 375px;
    margin-bottom: 20px;
    margin-top: 1630px;
    margin-left: 11px;
  }

  .nav-activite {
    text-align-last: center;
    width: 200px;
    height: 60px;
    color: black;
    margin-left: 0px;
    margin-top: -10px;
  }

  .nav-activite:hover {
    border-top: none;
    border-bottom: 3px solid #0065fc;
    color: #0065fc;
  }
  .bloc-activites {
    margin-left: 1px;
  }

  .inscription {
    margin-top: -67px;
    margin-left: -97px;
  }

  .inscription:hover {
    border: none;
    transform: scale(1.08);
  }

  p.texte {
    margin-left: 33px;
    text-align-last: justify;
    margin-top: 10px;
    width: 304px;
    font-size: 23px;
  }

  .texte > small:nth-child(3) {
    font-size: 15px;
  }

  div.recherche {
    margin-right: 0px;
    margin-left: -9px;
    margin-right: 0px;
    margin-top: 80px;
    margin-bottom: 30px;
    width: 375px;
  }

  button.rech {
    display: none;
  }
  /*icone loupe*/

  .icone-loupe {
    width: 40px;
    align-items: center;
    margin-top: 0px;
    margin-left: -17px;
    padding-left: 13px;
    padding-bottom: 0px;
    display: flex;
    height: 50px;
  }
  .icone-loupe > img:nth-child(1) {
    margin-left: -4px;
  }
  .icone-loupe > img:nth-child(1):hover {
    transform: scale(1.1);
  }

  button.icone-loupe {
    background: #0065fc;
    font-size: 20px;
    border-radius: 0px 15px 15px 0px;
    height: 40px;
  }

  /*MENU RAPIDE*/
  /* economique*/

  #img,
  ul li:hover {
    transform: scale(1.02);
  }

  #img > ul:nth-child(1) {
    margin-left: 15px;
    width: 375px;
    height: 220px;
    align-content: flex-start;
    margin-top: 10px;
    margin-right: 0px;
  }

  #img > ul:nth-child(1) > li:nth-child(2) {
    width: 147px;
    margin-right: 0px;
    margin-left: -45px;
  }

  #img
    > ul:nth-child(1)
    > li:nth-child(2)
    > i:nth-child(1) {
    margin-left: -45px;
    margin-right: -34px;
  }

  #img
    > ul:nth-child(1)
    > li:nth-child(2)
    > img:nth-child(2) {
    margin-left: -2px;
    margin-right: -31px;
    padding-left: 0px;
  }

  #img
    > ul:nth-child(1)
    > li:nth-child(2)
    > p:nth-child(3) {
    margin-right: -40px;
    margin-left: 51px;
  }

  /* famillial*/

  #img > ul:nth-child(1) > li:nth-child(3) {
    margin-left: 88px;
    width: 116px;
    margin-top: -61px;
    margin-right: -213px;
  }

  #img
    > ul:nth-child(1)
    > li:nth-child(3)
    > p:nth-child(3) {
    margin-left: 18px;
    margin-right: -42px;
  }

  #img
    > ul:nth-child(1)
    > li:nth-child(3)
    > i:nth-child(1) {
    margin-top: -1px;
    margin-right: 1px;
    margin-left: -49px;
  }

  #img
    > ul:nth-child(1)
    > li:nth-child(3)
    > img:nth-child(2) {
    margin-left: -36px;
    margin-right: 4px;
  }

  /*romantique*/

  #img > ul:nth-child(1) > li:nth-child(4) {
    margin-top: 10px;
    margin-left: -3px;
    margin-right: 6px;
  }
  #img
    > ul:nth-child(1)
    > li:nth-child(4)
    > img:nth-child(2) {
    margin-left: -34px;
    margin-right: -1px;
  }
  #img
    > ul:nth-child(1)
    > li:nth-child(4)
    > i:nth-child(1) {
    margin-left: -3px;
    margin-right: -2px;
  }

  /* animaux*/

  #img > ul:nth-child(1) > li:nth-child(5) {
    margin-left: 14px;
    margin-right: 5px;
  }
  #img
    > ul:nth-child(1)
    > li:nth-child(5)
    > i:nth-child(1) {
    margin-right: -1px;
    margin-left: -1px;
  }

  /*info*/

  .info {
    margin-top: 160px;
    margin-left: 10px;
  }

  .logo-info {
    margin-right: -17px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 15.283px;
  }

  .info > p:nth-child(2) {
    font-size: 14px;
    margin-bottom: 0px;
    width: 384px;
  }

  #section-aside {
    border-radius: 0px;
    width: 375px;
    margin-top: -1410px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  #section-aside > h2:nth-child(1) {
    margin-top: 7px;
    margin-bottom: 6px;
    margin-left: 8px;
    height: 30px;
    width: 355px;
  }

  #section-aside > h2:nth-child(1) > img:nth-child(1) {
    margin-left: 132px;
  }

  #bloc-article {
    margin-top: 0px;
    width: 375px;
    height: 600px;
    margin-left: 0px;
    display: flex;
  }

  .bloc-aside {
    margin-top: -22px;
    width: 375px;
    margin-left: 0px;
  }
  /*hover*/
  .auberge-cannebiere:hover {
    transform: scale(1.03);
  }

  .hotel-port:hover {
    transform: scale(1.03);
  }

  .hotel-mouettes:hover {
    transform: scale(1.03);
  }

  .hotel-mer:hover {
    transform: scale(1.03);
  }

  .auberge-panier:hover {
    transform: scale(1.03);
  }
  .hotel-amina:hover {
    transform: scale(1.03);
  }

  .hotel-du-matin:hover {
    transform: scale(1.03);
  }

  .chambre-hotes-coeur-de-eau:hover {
    transform: scale(1.03);
  }
  .hotel-tout-bleu-blanc:hover {
    transform: scale(1.03);
  }

  .div-vieux-port:hover {
    transform: scale(1.03);
  }
  .div-fort-de-pomegues:hover {
    transform: scale(1.03);
  }

  .div-iles-du-frioul:hover {
    transform: scale(1.03);
  }
  .div-parc-national-des-calanques:hover {
    transform: scale(1.03);
  }

  .div-notre-dame-de-la-garde:hover {
    transform: scale(1.03);
  }
  .div-parc-longchamp:hover {
    transform: scale(1.03);
  }

  /*auberge panier*/
  .auberge-panier {
    margin-top: 35px;
  }
  /*hotle amina*/
  .hotel-amina {
    margin-top: 35px;
  }

  /*hotel du matin*/

  .hotel-du-matin {
    margin-left: 6px;
    width: 360px;
    height: 180px;
  }

  /* chambre hotes coeur de leau*/

  .chambre-hotes-coeur-de-eau {
    margin-left: 6px;
    width: 360px;
    height: 180px;
  }

  /* hotel tout bleu blanc*/

  .hotel-tout-bleu-blanc {
    margin-left: 6px;
    width: 360px;
    height: 180px;
  }

  /*hotle mer*/
  .hotel-mer {
    margin-top: 35px;
  }

  body
    > main:nth-child(2)
    > section:nth-child(1)
    > article:nth-child(2) {
    background: none;
  }

  /* auberge cannebiere*/

  .auberge-cannebiere {
    width: 350px;
    margin-left: 10px;
    margin-right: 0px;
  }

  .cannebiere {
    width: 340px;
    margin-right: 5px;
    height: 120px;
  }

  .p-auberge-cannebiere {
    margin-top: 8px;
    margin-left: 30px;
  }

  .p-nuit-cannebiere {
    margin-left: 30px;
  }
  .auberge-cannebiere > div:nth-child(4) {
    margin-left: 25px;
  }

  /* hotel du port*/

  .hotel-port {
    width: 350px;
    margin-left: 10px;
    margin-right: 0px;
  }

  .du-port {
    width: 340px;
    margin-right: 5px;
    height: 120px;
  }
  .p-hotel-port {
    margin-top: 8px;
    margin-left: 30px;
  }

  .p-nuit-port {
    margin-left: 30px;
  }

  .hotel-port > div:nth-child(4) {
    margin-left: 30px;
  }

  /* hotel les mouette*/

  .hotel-mouettes {
    width: 350px;
    margin-left: 10px;
    margin-right: 0px;
  }

  .les-mouettes {
    width: 340px;
    margin-right: 5px;
    height: 120px;
  }

  .p-les-mouettes {
    margin-top: 8px;
    margin-left: 30px;
  }

  .p-nuit-mouettes {
    margin-left: 30px;
  }

  .hotel-mouettes > div:nth-child(4) {
    margin-left: 30px;
  }

  /* hotel la mer*/

  .hotel-mer {
    width: 350px;
    margin-left: 10px;
    margin-right: 0px;
  }

  .la-mer {
    width: 340px;
    margin-right: 5px;
    height: 120px;
  }

  .p-la-mer {
    margin-top: 8px;
    margin-left: 30px;
  }

  .p-nuit-mer {
    margin-left: 30px;
  }

  .hotel-mer > div:nth-child(5) {
    margin-left: 30px;
  }

  /* auberge le panier*/

  .auberge-panier {
    width: 350px;
    margin-left: 10px;
    margin-right: 0px;
  }

  .h-panier {
    width: 340px;
    margin-right: 5px;
    height: 120px;
  }

  .p-auberge-panier {
    margin-top: 8px;
    margin-left: 30px;
  }

  .p-nuit-panier {
    margin-left: 30px;
  }

  .auberge-panier > div:nth-child(4) {
    margin-left: 30px;
  }

  /* hotel chez amina*/

  .hotel-amina {
    width: 350px;
    margin-left: 10px;
    margin-right: 0px;
  }

  .h-amina {
    width: 340px;
    margin-right: 5px;
    height: 120px;
  }

  .p-amina {
    margin-top: 8px;
    margin-left: 30px;
  }

  .p-nuit-amina {
    margin-left: 30px;
  }

  .hotel-amina > div:nth-child(4) {
    margin-left: 30px;
  }

  /*vieux port*/

  .div-vieux-port {
    box-shadow: 3px 3px 3px gray;
    border-radius: 15px;
    width: 350px;
    height: 190px;
    margin-left: 8px;
    margin-bottom: 0px;
    margin-top: 30px;
  }

  .vieux-port {
    box-shadow: none;
    width: 345px;
    margin-right: 0px;
    margin-left: 2px;
    margin-top: 2px;
    height: 140px;
  }

  .p-vieux-port {
    margin-bottom: 0px;
    margin-top: 4px;
    margin-left: 15px;
    font-size: 16px;
  }

  /* fort de pomegues*/

  .div-fort-de-pomegues {
    box-shadow: 3px 3px 3px gray;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 0px;
    height: 190px;
    margin-left: 8px;
    width: 350px;
  }

  .fort-de-pomegues {
    box-shadow: none;
    width: 345px;
    margin-right: 0px;
    margin-left: 2px;
    margin-top: 2px;
    height: 140px;
  }

  .p-fort-de-pomegues {
    margin-bottom: 0px;
    margin-top: 4px;
    margin-left: 15px;
    font-size: 16px;
  }

  /* iles du frioul*/

  .div-iles-du-frioul {
    box-shadow: 3px 3px 3px gray;
    border-radius: 15px;
    margin-top: 30px;
    width: 350px;
    height: 190px;
    margin-left: 8px;
  }

  .iles-du-frioul {
    box-shadow: none;
    width: 345px;
    margin-right: 0px;
    margin-left: 2px;
    margin-top: 2px;
    height: 140px;
  }

  .p-iles-du-frioul {
    margin-bottom: 0px;
    margin-top: 4px;
    margin-left: 15px;
    font-size: 16px;
  }

  /* parc national des calanques*/

  .div-parc-national-des-calanques {
    margin-top: 0px;
    margin-left: 8px;
    margin-bottom: 0px;
    box-shadow: 3px 3px 3px gray;
    border-radius: 15px;
    width: 350px;
    height: 190px;
  }

  .parc-national-des-calanques {
    box-shadow: none;
    width: 345px;
    margin-right: 0px;
    margin-left: 2px;
    margin-top: 2px;
    height: 140px;
  }

  .p-parc-national-des-calanques {
    margin-bottom: 0px;
    margin-top: 4px;
    margin-left: 15px;
    font-size: 16px;
  }

  /* BLOC IMAGE*/

  .bloc-image-1 {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    width: 375px;
    height: 470px;
  }

  .bloc-image-2 {
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-right: 0px;
    width: 375px;
  }
  /* notre dame de la garde*/

  .div-notre-dame-de-la-garde {
    margin-top: 0px;
    margin-left: 8px;
    margin-bottom: 0px;
    box-shadow: 3px 3px 3px gray;
    border-radius: 15px;
    width: 350px;
    height: 190px;
  }

  .notre-dame-de-la-garde {
    box-shadow: none;
    width: 345px;
    margin-right: 0px;
    margin-left: 2px;
    margin-top: 2px;
    height: 140px;
  }

  .p-notre-dame-de-la-garde {
    margin-bottom: 0px;
    margin-top: 4px;
    margin-left: 15px;
    font-size: 16px;
  }

  /* parc longchamp*/

  .div-parc-longchamp {
    margin-top: 30px;
    margin-left: 8px;
    margin-bottom: 0px;
    box-shadow: 3px 3px 3px gray;
    border-radius: 15px;
    width: 350px;
    height: 190px;
  }

  .parc-Longchamp {
    box-shadow: none;
    width: 345px;
    margin-right: 0px;
    margin-left: 2px;
    margin-top: 2px;
    height: 140px;
  }

  .p-parc-longchamp {
    margin-bottom: 0px;
    margin-top: 4px;
    margin-left: 15px;
    font-size: 16px;
  }

  body > footer:nth-child(3) {
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    width: 375px;
    margin-right: 0px;
    margin-left: 0px;
  }

  /*FOOTER*/

  body > footer:nth-child(3) {
    margin-top: 0px;
    width: 375px;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
  }

  body > footer:nth-child(3) > div:nth-child(1) {
    margin-left: 15px;
  }

  body > footer:nth-child(3) > div:nth-child(2) {
    margin-left: 15px;
  }

  body > footer:nth-child(3) > div:nth-child(3) {
    margin-left: 15px;
  }
}
