@media screen and (max-width: 375px) {
  html {
    max-width: 360px;
    height: auto;
    background: rgb(230, 157, 157);
    display: flex;
    flex-wrap: wrap;
  }

  header {
    width: 375px;
    height: auto;
  }

  body > main:nth-child(2) > section:nth-child(1) {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  body > main:nth-child(2) > section:nth-child(1) > article:nth-child(1) {
    margin-top: 900px;
    margin-bottom: 0px;
  }

  body
    > main:nth-child(2)
    > section:nth-child(1)
    > aside:nth-child(2)
    > section:nth-child(1) {
    margin-top: -1424px;
    margin-bottom: 0px;
  }

  #container {
    background: teal;
    width: 375px;
    height: auto;
  }

  .p1 {
    width: 375px;
    display: flex;
    flex-wrap: wrap;

    background: thistle;
  }
  .p1 > h1:nth-child(2) > img:nth-child(1) {
    width: 80px;
    height: 38px;
    margin-top: 0px;
  }

  h1 {
    margin-top: 15px;
    margin-left: 15px;
    width: 180px;
    height: 35px;
    background: wheat;
  }

  .nav {
    margin-top: 10px;
    margin-left: 8px;
  }

  /* MENU NAVIGATION HEADER*/
  ol.nav {
    border-bottom: 2px solid #deebff;

    font-size: 25px;
    width: 305px;
    display: flex;
    margin: 0px;
    background: tomato;
  }
  ol.nav :hover {
    border-bottom: none;
    color: white;
  }

  .nav > a:nth-child(1) > li:nth-child(1) {
    text-align-last: center;
    width: 187px;
    border-top: none;
    border-bottom: 3px solid #0065fc;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 10px;
    margin-top: 0px;
    padding-top: 0px;
  }

  .nav > a:nth-child(2) > li:nth-child(1) {
    text-align-last: center;
    width: 187px;
    border-top: none;
    border-bottom: 3px solid #0065fc;
    margin-bottom: 0px;
    margin-left: -10px;
    margin-top: 11px;
    line-height: 10px;
    margin-top: 0px;
    padding-top: 0px;
  }

  li.inscription {
    margin-left: -99px;
    width: 74.7px;
    margin-right: 145px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: -46px;
    font-size: 20px;
    border: none;
    background: greenyellow;
  }

  .p1 > div:nth-child(5) {
    background: wheat;

    width: 375px;
    height: 75px;
  }

  .texte > b:nth-child(1) {
    font-size: 17px;
  }

  p.texte {
    text-align-last: justify;
    margin-top: 8px;
    width: 220px;
    font-size: 15px;
  }

  .recherche {
    background: white;
    width: 375px;
  }

  /*MENU RAPIDE*/
  /* economique*/

  #img > ul:nth-child(1) {
    margin-left: 10px;
    width: 435px;
    height: 220px;
    align-content: flex-start;
    margin-top: -20px;
    margin-right: 0px;
  }

  #img > ul:nth-child(1) > li:nth-child(2) {
    width: 147px;
    margin-right: 0px;
    margin-left: 5px;
  }

  #img > ul:nth-child(1) > li:nth-child(2) > i:nth-child(1) {
    margin-left: -45px;
    margin-right: -34px;
  }

  #img > ul:nth-child(1) > li:nth-child(2) > img:nth-child(2) {
    margin-left: -2px;
    margin-right: -31px;
    padding-left: 0px;
  }

  #img > ul:nth-child(1) > li:nth-child(2) > p:nth-child(3) {
    margin-right: -40px;
    margin-left: 51px;
  }

  /* famillial*/

  #img > ul:nth-child(1) > li:nth-child(3) {
    margin-left: 88px;
    width: 116px;
    margin-top: -61px;
    margin-right: -213px;
  }

  #img > ul:nth-child(1) > li:nth-child(3) > p:nth-child(3) {
    margin-left: 18px;
    margin-right: -42px;
  }

  #img > ul:nth-child(1) > li:nth-child(3) > i:nth-child(1) {
    margin-top: -1px;
    margin-right: 1px;
    margin-left: -49px;
  }

  #img > ul:nth-child(1) > li:nth-child(3) > img:nth-child(2) {
    margin-left: -36px;
    margin-right: 4px;
  }

  /*romantique*/

  #img > ul:nth-child(1) > li:nth-child(4) {
    margin-top: 10px;
    margin-left: -3px;
    margin-right: 6px;
  }
  Élément #img > ul:nth-child(1) > li:nth-child(4) > img:nth-child(2) {
    margin-left: -34px;
    margin-right: -1px;
  }
  Élément #img > ul:nth-child(1) > li:nth-child(4) > i:nth-child(1) {
    margin-left: -3px;
    margin-right: -2px;
  }

  /* animaux*/

  #img > ul:nth-child(1) > li:nth-child(5) {
    margin-left: 14px;
    margin-right: 5px;
  }
  Élément #img > ul:nth-child(1) > li:nth-child(5) > i:nth-child(1) {
    margin-right: -1px;
    margin-left: -1px;
  }

  /*info*/

  .info {
    margin-top: 160px;
    margin-left: 10px;
  }

  .logo-info {
    margin-right: -17px;
    margin-top: 0px;
    margin-bottom: 22px;
    width: 15.283px;
  }

  .info > p:nth-child(2) {
    font-size: 14px;
    width: 384px;
  }

  .titre-activites {
    margin-bottom: 19.92px;
    margin-top: 695px;
  }

  #section-aside {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
