#container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
}

header {
  height: auto;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 img {
  display: inline-block;
  width: 150px;
  margin: auto;
}
.p1 {
  width: 895px;
  height: 118px;
  padding-right: 0px;
  margin-right: 237px;
  margin-top: 0px;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
}

.recherche {
  height: 3em;
  display: flex;
  text-align: center;
}
img {
  width: 30px;
}

input {
  display: flex;
  font-size: 30px;
  width: 10em;
  height: 1.6em;
}

.rech {
  font-family: "Raleway", sans-serif 300;
  font-size: 20px;
  background: #0065fc;
  color: white;
  border-radius: 0px 15px 15px 0px;
}
button {
  border-radius: 15px 0px 0px 15px;
}

h3 {
  margin-top: 0px;
  height: 20px;
  padding-top: 14px;
  padding-bottom: 0px;
  margin-bottom: 0px;

  display: flex;
  align-items: center;
}

.menu {
  margin-top: 11px;
  margin-right: 143px;
  margin-bottom: 0px;
  width: 711px;
  height: 113px;
  margin-left: 0px;
  display: flex;
  text-align: center;
}
ul {
  border-spacing: 7px;
  margin: 10px;
  list-style-type: none;
  display: flex;

  width: auto;
  height: 40px;
  align-items: baseline;
}
li {
  border: #f2f2f2 3px solid;
  border-radius: 30px;
}
li img {
  text-align: center;
  align-items: baseline;
  border: #deebff;
  background-color: #deebff;
}
.info {
  margin-right: 100px;
}

.nav1 li {
  margin-top: -400px;
}

nav.nav1 ul {
  display: flex;
  margin-bottom: 0px;
  height: 60px;
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
}
