@media screen and (max-width: 768px) {
  body {
     overflow-x: hidden;
  }

  header {
     overflow-x: hidden;
   width: 800px !important;
    height: 450px;
  }

  #container > header:nth-child(1) {
 width: 800px;
}

  html {
    overflow-x: hidden;
    max-width: 768px;
  }

  main {
    height: auto;
    width: 960px;
  }

  .nav {
    margin-top: -89%;
    margin-left: 39%;
  }

  .texte {
    margin-left: -575px;
    width: 583px;
    margin-top: 85px;
    margin-right: 0px;
    text-align-last: center;
  }
  .menu {
    justify-items: center;
  }

  #hebergement {
    margin-top: 0px;
  }

  .icone-loupe {
    display: none;
  }
  .filtres {
    font-size: 0px;
  }

  ul {
    justify-items: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
 

  .p1 > h1:nth-child(2) > img:nth-child(1) {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: -20px;
  }

  .p1 > nav:nth-child(2) {
    margin-left: 180px;
  }
  h2 {
    display: flex;
  }

  #img > ul:nth-child(1) {
    align-items: center;
    align-content: center;
    width: 590px;
    height: 197px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 0px;
    margin-left: 86px;
  }

  #img > ul:nth-child(1) > li:nth-child(2) {
    margin-top: -48px;
    margin-left: 0px;
  }

  #img > ul:nth-child(1) > li:nth-child(5) {
    margin-top: 6px;
    margin-left: 2px;
    margin-right: 10px;
    height: 50px;
  }

  #img > ul:nth-child(1) > li:nth-child(4) {
    margin-top: 11px;
  }



  #img
    > ul:nth-child(1)
    > li:nth-child(5)
    > img:nth-child(1) {
    margin-right: 9px;
    margin-left: -1px;
  }

  #img
    > ul:nth-child(1)
    > li:nth-child(5)
    > p:nth-child(3) {
    margin-left: 19px;
    margin-right: 13px;
  }

  body > main:nth-child(2) {
    margin-top: 0px;
  }

  body > main:nth-child(2) > section:nth-child(2) {
    margin-top: 0px;
    padding-bottom: 0px;
  }

  body > main:nth-child(2) > section:nth-child(1) {
    margin-left: 0px;
    margin-top: 0px;
  }

  body
    > main:nth-child(2)
    > section:nth-child(1)
    > article:nth-child(1) {
    margin-left: 0px;
    margin-top: 121px;
  }

  body
    > main:nth-child(2)
    > section:nth-child(1)
    > article:nth-child(2) {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 700px;
  }

  body
    > main:nth-child(2)
    > section:nth-child(1)
    > article:nth-child(2)
    > h2:nth-child(1) {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 50px;
    height: 30px;
    padding-bottom: 0px;
  }

  .info > p:nth-child(2) {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 0px;
  }

  section {
    display: block;
  }

  #section-aside {
    margin-left: 126px;
  }

  .bloc-aside {
    margin-left: -42px;
  }

  #activites {
    margin-top: 0px;
    margin-bottom: -100px;
  }

  #bloc-activites {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
  }

  #bloc-article {
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 21px;
    margin-bottom: 0px;
  }

  .div-parc-national-des-calanques {
    width: 300px;
  }

  ol.nav {
    justify-content: flex-end;

    padding-left: 200px;
    margin-top: -90px;
    margin-left: 37%;
  }

  ul {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
  }

  ul li {
    height: 50px;
    margin: 5px;
    display: flex;
  }

  .recherche {
    margin-top: -30px;
    margin-left: -16%;
    margin-right: 550px;
    padding-bottom: 0px;
  }

  div.recherche {
    justify-content: center;
    margin-left: -16%;
    margin-right: 550px;
  }

  div.info {
    display: flex;
    flex-wrap: wrap;
  }

  .info {
    margin-top: 63px;
    height: 68px;
    width: 408px;
    margin-bottom: 0px;
    margin-left: 184px;
  }

  .logo-info {
    margin-top: -22px;
  }

  .info > p:nth-child(2) {
    margin-top: 0px;
    margin-left: 24px;
    width: 363px;
  }

  .bloc-activites {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .titre-activites {
    margin-left: 10px;
  }

  .hotel-mer {
    margin-left: 0px;
  }

  .auberge-cannebiere {
    margin-left: 0px;
  }

  .div-fort-de-pomegues {
    margin-left: 365px;
    margin-top: -488px;
  }

  .div-iles-du-frioul {
    margin-left: 364px;
    margin-top: -50px;
  }

  .div-parc-national-des-calanques {
    margin-top: -490px;
    margin-left: 444px;
    margin-right: 0px;
  }

  .div-notre-dame-de-la-garde {
    margin-top: -461px;
  }

  body > footer:nth-child(3) {
    margin-top: -200px;
    margin-bottom: 0px;
    padding-top: 30px;
    margin-left: 3px;
  }
  footer {
    width: 770px;
  }
}
